.container {
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.delete-button {
    background-color: rgb(255, 122, 122);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.delete-button:hover {
    background-color: rgb(255, 101, 101);
}
